{% extends 'base.html' %}

{% block content %}
<div class="col-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <form class="forms-sample">
        <div class="form-group">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="ชื่อคน" aria-label="Recipient's username"
              aria-describedby="basic-addon2">
            <button data-repeater-create type="button" class="btn btn-gradient-info btn-sm icon-btn ml-2 mb-2">
              <i class="mdi mdi-plus"></i>
            </button>
          </div>
        </div>
        <div class="form-group col-xs-12">
          <label for="exampleTextarea1">รายชื่อ</label>
          <textarea disabled class="form-control file-upload-info" id="exampleTextarea1" rows="4"></textarea>
        </div>
        <div class="form-group">
          <label for="exampleTextarea1">comment</label>
          <textarea class="form-control" id="exampleTextarea2" rows="4"></textarea>
        </div>
        
        <button type="submit" class="btn btn-gradient-primary mr-2">Submit</button>
        <button class="btn btn-dark">Cancel</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}