{% extends 'base.html' %}

{% block title %}
{{ board.name }} - {{ block.super }}
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Boards</a></li>
<li class="breadcrumb-item active">{{ board.name }}</li>
{% endblock %}

{% block content %}
<div class="col-lg-12 grid-margin stretch-card">
  <div class="card">
    <div class="card-body">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th> ID </th>
            <th> First name </th>
            <th> Comment </th>
            <th> Edit </th>
          </tr>
        </thead>
        <tbody>
          {% for board in boards %}
          <tr>
            <td>{{ board.id }}</td>
            <td>{{ board.name }}</td>
            <td>{{ board.description }}</td>
            <td><a href="{% url 'topics' board.id %}" class="btn btn-warning" role="button" aria-pressed="true">+</a></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <a href="{% url 'export_users_xls' %}" class="btn btn-warning" role="button" aria-pressed="true">Download</a>
  </div>
</div>
{% endblock %}